@model ATTSystems.SFA.Model.ViewModel.ResetCodeViewModel
@{
    ViewData["Title"] = "ForgotPassword";
     Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Request for Secure Reset</title>
    <link href='@Url.Content("~/css/site.css")' rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/css/bootstrap.min.css")' rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/css/customizeStyle.css")' rel="stylesheet" type="text/css" />
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src='@Url.Content("~/js/modernizr-2.8.3.js")'></script>
    <script src='@Url.Content("~/js/admin.js")'></script>
    <link href="~/css/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/js/sweetalert2.min.js"></script>
    <script src="@Url.Content("~/js/jquery.unobtrusive-ajax.min.js")"></script>
    <style>
        .footer_loc {
            position: absolute;
            border-top: 1px solid #0C5AAB;
            bottom: 0;
            width: 100%;
            height: 60px;
            color: #337ab7;
            font-size: 12px;
        }

        @@media only screen and (max-width : 600px) {
            [class*="col-"] {
                width: 100%;
            }
        }

        ::-webkit-scrollbar {
            display: none;
        }
    </style>
</head>
<body>
    @Html.Hidden("@ViewBag.pswdlenght")
    <div id="header1" class="clearfix" style="margin:0;padding:0; width:100%">

        <div class="row" style="background-color: #DE6262; height:80px; width:100%">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" @*style="padding:10px 20px; margin-top:100px;"*@>
                <img src="~/images/Singapore_Food_Agency_logo.png" />

            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" >
                <h3 style="text-align: center;">Visitor Management System</h3>
           </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 " align="right" style="padding: 10px 20px">
                <button id="button" class="form-control" onclick="@("window.location.href='" + @Url.Action("Login", "Auth") + "'");" style="font-size:20px; width:80px;">Login</button>
            </div>


           @* <div class="clearfix" style="background-color: #DE6262; height:80px; width:100%">

            </div>*@
        </div>
    </div>
    @*<div class="clearfix" style="text-align: center; padding: 10px 20px;">
        <h3>Visitor Management System</h3>
    </div>*@
    <div class="clearfix">
        <br />
        <div class="col-md-3" @*id="divLoginLeft"*@>
        </div>
        <div class="col-md-6" id="divLoginRight" style="background: #fff; opacity: 0.92;">
            <h3 style="text-align: center;">Reset Password</h3>
            <br />
            <h4 style="text-align: center;">Please enter your Username</h4>
            <br />

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-7">
                    <div class="form-group">
                        <label class="col-md-5 control-label">Username<span class="spanRequired">*</span></label>
                        <div class="col-md-7">
                            @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @autocomplete = "off", @style = "font-size: 16px;", id = "Username" })
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger", @style = "color:red" })
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="col-md-1" style="text-align: left;">
                        <input type="button" id="btnSubmit" value="Next" class="btn btn-primary"  style="background-color: #DE6262;"/>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <br />

          @*  <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-7">
                    <div id="sq" style="display:none;" class="form-group">
                        <label class="col-md-5 control-label">Security Questions<span class="spanRequired">*</span></label>
                        <div class="col-md-7">
                            @Html.DropDownListFor(m => m.QuestionId, new SelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control", id = "LQuestions" })
                            @Html.ValidationMessageFor(m => m.QuestionId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>*@
            <br />

           @* <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-7">
                    <div id="sa" style="display:none;" class="form-group">
                        <label class="col-md-5 control-label">Security Answer<span class="spanRequired">*</span></label>
                        <div class="col-md-7">
                            @Html.TextBoxFor(m => m.Answer, new { @class = "form-control", id = "answer" })
                            @Html.ValidationMessageFor(model => model.Answer, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="col-md-1" id="sabt" style="display: none; text-align: left;">
                        <input type="button" id="btnSubmit1" value="Next" class="btn btn-primary" />
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>*@
            <br />

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-7">
                    <div id="np" class="form-group" style="display:none; padding-top: 10px;">
                        <label class="col-md-5 form-label">New Password<span class="spanRequired">*</span></label>
                        <div class="col-md-7">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-offset-12 col-md-14">
                            <img id="newKey" src="~/Images/pass_eye.png" style="width: 25px; cursor: pointer;" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-7">
                    <div id="cp" class="form-group" style="display: none; padding-top: 10px;">
                        <label class="col-md-5 form-label">Confirm Password<span class="spanRequired">*</span></label>
                        <div class="col-md-7">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-offset-12 col-md-14">
                            <img id="confirmKey" src="~/Images/pass_eye.png" style="width: 25px; cursor: pointer;" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-3"></div>
                <div class="col-md-7">
                    <div id="sb" class="row clearfix js-sweetalert divModalFooterButton" style="display: none; padding-top: 20px;">
                        <div class="col-md-6">
                            <input type="button" id="btnCngPassword" value="Change Password" class="btn btn-primary" style="background-color: #DE6262;" />
                        </div>
                        <div class="col-md-5">
                            <input type="button" id="btnCancel" value="Cancel" class="btn btn-primary" style="background-color: #DE6262;"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-offset-4 col-md-8" style="text-align: left; padding-top: 20px;">
                @Html.ValidationSummary(true, "", new { @style = "color: red" })
                <span id="msgResult" class="spanRequired"></span>
                <span id="msgPass" style="color: blue;"></span>
            </div>

        </div>

        <div class="col-md-3"></div>
    </div>

    <script>
        $("#newKey").mousedown(function () {
            var x = document.getElementById("NewPassword");
            x.type = "text";
            $("#msgResult").text("");
        });

        $("#newKey").mouseup(function () {
            var x = document.getElementById("NewPassword");
            x.type = "password";
            $("#msgResult").text("");
        });

        $("#confirmKey").mousedown(function () {

            var x = document.getElementById("ConfirmPassword");
            x.type = "text";
            $("#msgResult").text("");
        });
        $("#confirmKey").mouseup(function () {
            var x = document.getElementById("ConfirmPassword");
            x.type = "password";
            $("#msgResult").text("");
        });

        $(document).ready(function () {
            $("#divLoginLeft").outerHeight($("#divLoginRight").height() + "px");
        });

        function RefreshCaptcha() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("RefreshCaptchaImage")',
                contentType: "image/png",
                success: function (data) {
                    if (data.Code == 1) {
                        $('#imgCaptcha').attr('src', data.Content);
                    }
                    else {
                        $("#msgResult").text("Refresh Captcha Error");
                    }
                },
                error: function (error, txtStatus) {
                    var msg = "Refresh Captcha Error";
                    if (txtStatus != null)
                        msg += " - " + txtStatus;
                    $("#msgResult").text(msg);
                },
            });
        }

        $("#imgRefresh").click(function () {
            $("#msgResult").text("");
            RefreshCaptcha();
        });
        $("#btnSubmit").click(function (e) {

            var uname = $("#Username").val();
            if (uname == "") {
               // swal("Info", "Please enter the User name", "info");
               // swal("Info", "Authentication Failed", "info");
                swal("Info", "Key in username", "info");
                return false;
            }
            $.ajax({
                type: "POST",
                url:'@Url.Action("ValidateUsername")',
                data: { username: uname },
                dataType: "json",
                success: function (response) {
                   
                    console.log(response);
                    if (response.code === 200) {
                        document.getElementById('np').style.display = 'block';
                        document.getElementById('cp').style.display = 'block';
                        document.getElementById('sb').style.display = 'block';
                        $("#msgResult").text("");
                        $('#btnSubmit').attr("disabled", true);
                        $("#Username").attr("disabled", true);
                        $('#btnSubmit').submit();
                    }
                    else {
                        //swal("info","Invalid user","info");
                        //swal("info", "Authentication Failed", "info");
                        swal("Info", "Information Received", "info");
                        document.getElementById('np').style.display = 'none';
                        document.getElementById('cp').style.display = 'none';
                        document.getElementById('sb').style.display = 'none';

                    }
                },
                error: function (error) {
                    alert("Error");
                    alert(error);
                }
            });
        });

        $("#btnSubmit1").click(function (e) {
            //////debugger;
            var qid = $("#LQuestions option:selected").val();
            var ans = $("#answer").val();
            var uname = $("#Username").val();
            var fd = new FormData();
            fd.append("QuestionId", qid);
            fd.append("Answer", ans);
            fd.append("Username", uname);
            console.log(fd);
            if (qid=="0") {
                //swal("info", "Please select a security question", "info");
               // swal("info", "Authentication Failed", "info");
                swal("Info", "Select Security Question", "info");
            }
            else if (ans=="") {
                //swal("info", "Please enter security answer ", "info");
                //swal("info", "Authentication Failed ", "info");
                swal("Info", "Key in Security Answer", "info");
            }
            else
            if (qid > 0) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ValidateQuestionAnswer")',
                    data: fd,
                    dataType: "json",
                    contentType: false,
                    processData: false,
                    cache: false,
                    success: function (response) {
                        console.log(response);
                        if (response.Code === 200) {
                            document.getElementById('np').style.display = 'block';
                            document.getElementById('cp').style.display = 'block';
                            document.getElementById('sb').style.display = 'block';
                            $("#msgResult").text("");
                            $('#btnSubmit1').attr("disabled", true);
                            $('#LQuestions').attr("disabled", true);
                            $('#answer').attr("disabled", true);
                        }
                        else {
                            //swal("info", "security  Question and Answer doesn't match ", "info");
                           // swal("info", "Authentication Failed", "info");
                            swal("Info", "Information Received", "info");
                            document.getElementById('np').style.display = 'none';
                            document.getElementById('cp').style.display = 'none';
                            document.getElementById('sb').style.display = 'noe';
                        }
                    },
                    error: function (error) {
                        alert("Error");
                        alert(error);
                    }
                });
            }
            else {
                //swal("info", "Please enter security Answer", "info");
                //swal("info", "Authentication Failed", "info");
                swal("Info", "Key in Security Answer", "info");
            }
        });


        $("#btnCngPassword").click(function () {
           
            var strongPassword = new RegExp('^((?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])|(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[^a-zA-Z0-9])|(?=.*?[A-Z])(?=.*?[0-9])(?=.*?[^a-zA-Z0-9])|(?=.*?[a-z])(?=.*?[0-9])(?=.*?[^a-zA-Z0-9])).{8,}$')
            var uname = $("#Username").val();
            var newpass = $("#NewPassword").val();
           // var newpass = $("#npwd").val();
            var confmpass = $("#ConfirmPassword").val();
            @*var abc = @Html.Raw(Json.Encode(@ViewBag.pswdlenght);*@
            var abcd = @ViewBag.pswdlenght;

             if (newpass == "") {
               // swal("info", "Please enter new password", "info");
                 //swal("info", "Authentication Failed", "info");
                 swal("info", "Key in New Password", "info");
            }
              else if (confmpass == "") {
                 //swal("info", "Please enter Confirm password", "info");
                 //swal("info", "Authentication Failed", "info");
                 swal("info", "Key in Confirm Password", "info");
             }
             else if (confmpass != newpass) {
                 //swal("Info", "New password and confirm password doesn't match", "info")
                 swal("Info", "Authentication Failed", "info")
                 return;
             }
                else if (newpass.length < abcd) {
                swal("info", "Passwords must be at least (@ViewBag.pswdlenght) characters and contain at 4 of the following: at least (@ViewBag.minupper)upper case (A-Z), at least (@ViewBag.minlower)lower case (a-z), at least (@ViewBag.minnum)  number (0-9) and at least (@ViewBag.minspch) special character (e.g. !@@#$%^&*)",  "info");
                // swal("Info", "Authentication Failed", "info")
                return false;
                }

                else if (!strongPassword.test(newpass)) {
                 swal("info", "Passwords must be at least (@ViewBag.pswdlenght) characters and contain at 4 of the following: at least (@ViewBag.minupper)upper case (A-Z), at least (@ViewBag.minlower)lower case (a-z), at least (@ViewBag.minnum)  number (0-9) and at least (@ViewBag.minspch) special character (e.g. !@@#$%^&*)", "info");
                 //swal("Info", "Authentication Failed", "info")
                $("#NewPassword").val("");
                $("#ConfirmPassword").val("");
                }

                else if (newpass === confmpass) {
                    var fd1 = new FormData();
                    fd1.append("NewPassword", newpass);
                    fd1.append("ConfirmPassword", confmpass);
                    fd1.append("Username", uname);
                    console.log(fd1);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ResetForgotPassword")',
                    data: fd1,
                    dataType: "json",
                    contentType: false,
                    processData: false,
                    cache: false,
                    success: function (response) {
                            console.log(response);
                            if (response.code === 200) {
                                swal({
                                title:"Success",
                                text: "Password Changed Successfully",
                                type: "success"
                                }).then(function () {
                                    window.location = '@Url.Content("~/Auth/Login")';
                                });
                            } else if(response.code==-3){
                                swal("info", "Please try another password.....", "info");
                                //swal("Info", "Authentication Failed", "info")
                                return false;
                                //window.location = '@Url.Content("~/Auth/Login")';
                            }
                            else {
                                //swal("warning", "Security Question and Answer is not matching", "warning");
                                swal("info", "Authentication Failed", "info");
                                window.location = '@Url.Content("~/Auth/Login")';// 'Auth/RequestReset';
                            }
                        },
                    error: function (error) {
                            alert("Error");
                            alert(error);
                        }
                    });
                }
                else {
                 //swal("info", "New Password and Confirm password are not matching", "info");
                 swal("info", "Authentication Failed", "info");
                }
            });

        function SuccessReset(e) {
            if (e != null) {
                if (e.Code != null) {
                    if (e.Code == 200) {
                        $("#msgPass").text("Request success");
                        $('#btnSubmit').attr("disabled", true);
                        setTimeout(function () { RedirectToSuccessPage(); }, 1000);
                    }
                    else {
                        var msg = "Failed to send reset request ";
                        if (e.Message != null) {
                            msg += e.Message;
                        }
                        $('#btnSubmit').attr("disabled", false);
                        $("#msgResult").text(msg);
                        RefreshCaptcha();
                    }
                }
                else {
                    $('#btnSubmit').attr("disabled", false);
                    $("#msgResult").text("Request to reset failed.");
                    RefreshCaptcha();
                }
            }
            else {
                $('#btnSubmit').attr("disabled", false);
                $("#msgResult").text("Falied to request to reset");
                RefreshCaptcha();
            }
        }
        function FailReset(e) {
            $("#msgResult").text("");
            $('#btnSubmit').attr("disabled", false);
            RefreshCaptcha();
        }
        function RedirectToSuccessPage() {
            var loc = window.location + "";
            loc = loc.toLowerCase();
            var n = loc.indexOf("auth");
            loc = loc.substring(0, n) + "Auth/RequestResetSuccess";
            window.location.replace(loc);
        }
    </script>

   @* <script>
      $(document).ready(function () {
          $("#LQuestions").empty();
          $.ajax({
              url: '@Url.Action("LoadSeucrityQuestions", "Auth")',
              cache: false,
              type: "POST",
              success: function (data) {
                  if (data != null) {
                      $("#LQuestions").append('<option value="' + 0 + '" selected>' + "Select" + '</option>');
                      for (var i = 0; i < data.length; i++) {
                          if (data[i].Selected) {
                              $("#LQuestions").append('<option value="' + data[i].id + '" selected>' + data[i].Question + '</option>');
                          }
                          else {
                              $("#LQuestions").append('<option value="' + data[i].id + '">' + data[i].Question + '</option>');

                          }
                      }
                  }
                  else {

                  }
              },
              error: function (data) {
                  swal("Error i", "", "error");
              }
          });
     });
    </script>
*@
    <script>
        $('#btnCancel').click(function () {
            window.location = '@Url.Content("~/Auth/Login ")';

        });
    </script>

</body>
</html>
@* <script type="text/javascript">
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };
</script>
 *@
<script type="text/javascript" language="javascript">
    window.onload = window.history.forward(0);

</script>