@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>

    </title>
    <style>
        @@media (min-width: 360px) and (max-width: 767px) {

            .btn:not(.btn-link):not(.btn-circle) {
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                -ms-border-radius: 2px;
                border-radius: 2px;
                border: none;
                font-size: 12px;
                outline: none;
                margin-top: 10px;
            }
        }
     
        #divLoc {
            color: #E9510E;
            text-align: center;
        }

        #btnJurong, #btnPasir {
            background: #E9510E;
            height: 60px;
            width: 270px;
            color: white;
            font-size: 16px;
        }

        #btnBack{
            border: none;
            background-color: white;
            cursor: pointer;
            float: right
        }
    </style>
    <link rel="stylesheet" href="~/css/fontawsome.min.css" />
    <link href='@Url.Content("~/css/bootstrap.min.css")' rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/css/style.css")' rel="stylesheet" type="text/css" />

    <script src="~/js/jquery-3.7.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/fontawsome.js"></script>

</head>

<body style="overflow-x:hidden">
    <br />
    <br />

    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8" style="text-align:center;">
            <img src="~/Images/Singapore_Food_Agency_logo.png" alt="Logo"/>

        </div>
        <div class="col-md-2">
            <button id="btnBack" onclick="@("window.location.href='" + @Url.Action("Register", "OnlinePortal") + "'");" class="" style="">
                <em class="fa fa-home" style="font-size:48px;color:#E9510E"></em>
            </button>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-12" id="divLoc">
            <h1><strong>Visitor Management System</strong></h1>
            <br />
            <br /><br /><br />
            <h3>Please Select Preferred Location</h3>
            <br />

            <div>
                <button type="button" value="1" id="btnJurong" class="btn btn-lg mb-2 mb-lg-0 mr-lg-2">Jurong Fishery Port</button>
                <button type="button" value="2" id="btnPasir" class="btn btn-lg">Pasir Panjang Wholesale Centre</button>
            </div>
        </div>

    </div>

    <script>
        $("#btnJurong").click(function (e) {
            var _loc1 = $("#btnJurong").val();
            window.location.href = '@Url.Action("Registerdtls", "OnlinePortal")?locId=' + _loc1;

        });

        $("#btnPasir").click(function (e) {
            var _loc2 = $("#btnPasir").val();
            window.location.href = '@Url.Action("Registerdtls", "OnlinePortal")?locId=' + _loc2;

        });
    </script>

    <script type="text/javascript" language="javascript">
        history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.go(1);
        };

    </script>
</body>

</html>