@model  ATTSystems.SFA.Model.ViewModel.ResetViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = null;
}
<style>
    fieldset {
        border: 2px solid #ddd !important;
        margin: 0;
        /*xmin-width: 0;*/
        padding: 10px;
        position: relative;
        border-radius: 4px;
        background-color: #ffff;
        padding-left: 10px !important;
        border-color: gray !important;
    }

    legend {
        font-size: 1.2em !important;
        text-align: left !important;
        width: inherit;
        padding: 0 10px;
        border-bottom: none;
    }
</style>
 <fieldset>
     <legend>Change Password</legend>
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
        <div class="clearfix" style=" padding: 10px 20px;">
            <h4>Reset Password</h4>
            <br />
            <div class="col-lg-6">
                 <form id="passcodeForm" method="post">
                    @Html.AntiForgeryToken()
               @* @using (Ajax.BeginForm("ChangePassword", "Manage", new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "SuccessChange",
                    OnFailure = "FailChange",
                    InsertionMode = InsertionMode.Replace,
                    AllowCache = false
                }, new { @id = "form_validation", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
*@
                    @*<div class="form-group form-float" style="padding-top: 10px;">
                        <table>
                            <tr>
                                <td style="width: 900px;">
                                    <div class="form-line">
                                        <label class="form-label">Security Questions<span class="spanRequired">*</span></label>
                                        @Html.DropDownListFor(m => m.QuestionId, new SelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control", id = "LQuestions" })
                                        @Html.ValidationMessageFor(m => m.QuestionId, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                                <td>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="form-group form-float" style="padding-top: 10px;">
                        <table>
                            <tr>
                                <td style="width: 900px;">
                                    <div class="form-line">
                                        <label class="form-label">Security Answer<span class="spanRequired">*</span></label>
                                        @Html.TextBoxFor(m => m.Answer, new { @class = "form-control", id = "ans" })
                                        @Html.ValidationMessageFor(model => model.Answer, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                                <td>
                                </td>
                            </tr>
                        </table>
                    </div>*@

                    <div class="form-group form-float" style="padding-top: 10px;">
                        <table>
                            <tr>
                                <td style="width: 900px;">
                                    <div class="form-line">
                                        <label class="form-label">Old Password<span class="spanRequired">*</span></label>
                                            @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control", id = "oldpwd",type="password" })
                                        @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger",  })
                                    </div>
                                </td>
                                <td>
                                    <img id="oldKey" src="~/images/pass_eye.png" style="width: 25px; cursor: pointer; padding-left: 10px;" />
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="form-group form-float" style="padding-top: 10px;">
                        <table>
                            <tr>
                                <td style="width: 900px;">
                                    <div class="form-line">
                                        <label class="form-label">New Password<span class="spanRequired">*</span></label>
                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", id = "npwd" })
                                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                                <td>
                                    <img id="newKey" src="~/images/pass_eye.png" style="width: 25px; cursor: pointer; padding-left: 10px;" />
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="form-group form-float" style="padding-top: 10px;">
                        <table>
                            <tr>
                                <td style="width: 900px;">
                                    <div class="form-line">
                                        <label class="form-label">Confirm Password<span class="spanRequired">*</span></label>
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", id = "cpwd" })
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                                <td>
                                    <img id="confirmKey" src="~/images/pass_eye.png" style="width: 25px; cursor: pointer; padding-left: 10px;" />
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row clearfix js-sweetalert divModalFooterButton" style="padding-top: 20px;">
                        <div class="col-md-8">
                            <input type="button" id="btnSubmit" value="Change password" class="btn" style="background-color: #DE6262; color:#ffffff"/>
                        </div>
                        <div class="col-md-4">
                           @*  <input type="button" id="btnCancel" value="Cancel" class="btn" style="background-color: #DE6262;color:#ffffff" /> *@
                                <button type="button" id="btnCancel" value="Cancel" class="btn" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" style="background-color: #DE6262;color:#ffffff">Cancel</button>
                        </div>
                    </div>
                @*}*@
                </form>
            </div>
            
        </div>

    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
        <div class="clearfix">
            <div class="col-md-" style="font-size:14px; color: black; padding-top:100px; font-family:Arial,Helvetica,sans-serif;">
                <h5 style="color:red;">Note: @*Following the instruction to reset password*@</h5>
                <p>
                    Minimum (@ViewBag.pswdlenght) characters.<br /><br />
                    Must Contain character from (4) of the following categories:<br /><br />
                    - at least (@ViewBag.minupper) Uppercase letter (A-Z)<br /><br />
                    - at least (@ViewBag.minlower) Lowercase letter (a-z)<br /><br />
                    - at least (@ViewBag.minnum) Digit (0-9)<br /><br />
                    - at least (@ViewBag.minspch) Special Character (&#64;~`!#$%^&*()+=_-{}[]\|:;”’?/<>,.)<br /><br />
                </p>
            </div>
        </div>
    </div>
</div>
</fieldset>
<br />
<div class="clearfix" style="padding-top: 20px; padding-left: 20px;">
    @Html.ValidationSummary(true, "", new { @style = "color: red" })
    <span id="msgResult" class="spanRequired"></span>
    <span id="msgPass" style="color: blue;"></span>
</div>



<script type="text/javascript">
    $("#newKey").mousedown(function () {
        var x = document.getElementById("npwd");
        x.type = "text";
        $("#msgResult").text("");
    });

    $("#newKey").mouseup(function () {
        var x = document.getElementById("npwd");
        x.type = "password";
        $("#msgResult").text("");
    });

    $("#confirmKey").mousedown(function () {

        var x = document.getElementById("cpwd");
        x.type = "text";
        $("#msgResult").text("");
    });
    $("#confirmKey").mouseup(function () {
        var x = document.getElementById("cpwd");
        x.type = "password";
        $("#msgResult").text("");
    });

    $("#oldKey").mousedown(function () {

        var x = document.getElementById("oldpwd");
        x.type = "text";
        $("#msgResult").text("");
    });
    $("#oldKey").mouseup(function () {
        var x = document.getElementById("oldpwd");
        x.type = "password";
        $("#msgResult").text("");
    });

    $("#btnSubmit").click(function () {
        /*$('#btnSubmit').attr("disabled", true);*/
       
         var newpass = $("#npwd").val();
        var oldpass = $("#oldpwd").val();
        var abcd = @ViewBag.pswdlenght;

        //var _lqustn = $("#LQuestions option:selected").val();

        //if (_lqustn == "0") {
        //    swal("Info", "Please select security question", "info");
        //    return;
        //}
        //else if ($("#ans").val() == "") {
        //    swal("Info", "Please enter answer", "info");
        //    return;
        //}
         if ($("#oldpwd").val() == "") {
            swal("Info", "Please enter old password", "info");
            return false;
        }
        else if (newpass == "") {
            swal("info", "Please enter new password", "info");
            return false;
        }

        else if ($("#cpwd").val() == "" || $("#cpwd").val() == null) {
            swal("Info", "Please enter Confirm password", "info");
            return;
        }
        else if ($("#cpwd").val() != newpass) {
            swal("Info", "New password and confirm password doesn't match", "info")
            //swal("Info", "Authentication Failed", "info")
            return;
        }
         else if (newpass.length < abcd) {
            swal("info", "Passwords must be at least (@ViewBag.pswdlenght) characters and contain at 4 of the following: at least (@ViewBag.minupper)upper case (A-Z), at least (@ViewBag.minlower)lower case (a-z), at least (@ViewBag.minnum)  number (0-9) and at least (@ViewBag.minspch) special character (e.g. !@@#$%^&*)", "info")  ;
            return false;
        }
        else if (oldpass == newpass) {
            swal("Info", "Old Password and New Password should not be same, Please try another...", "info");
            return false;
        }

        else {
        $.ajax({
            type: "POST",
            url: "@Url.Action("UpdateChangePassword", "Manage")",
            data: $("#passcodeForm").serialize(),
            cache: false,
            dataType: "json",
            success: function(e) {
                //////debugger;
                //if (e.resultCode == 200) {
                //    swal("Success", "Password changed successfully.", "success");
                //    //setTimeout(function() {
                //    //    $('#logoutForm').submit();
                //    //}, 3000);
                //     window.location = '@Url.Content("~/Auth/Login")';
                //} else {
                //    showDialog(e.resultDescription, "Change Password", "info", "Manage", "ChangePassword", 0, false, false);
                //}
                if (e != null) {
            if (e.code == 200) {
                $("#msgPass").text("");
                $('#btnSubmit').attr("disabled", true);
                swal({
                    text: "Password Changed Successfully",
                    type: "success"
                }).then(function () {

                   window.location = '@Url.Content("~/Auth/Login")';
                });
            }
            else if (e.code == -2) {
                $('#btnSubmit').attr("disabled", false);
                swal({
                    //text: "User's old password does not match",
                    text: "Invalid",
                    type: "info"
                }).then(function () {
                    return false;
                });
            }
            else if (e.code == -3) {
                $('#btnSubmit').attr("disabled", false);
                swal({
                    text: e.message,
                    type: "info"
                }).then(function () {
                    return false;
                });
            }
            else {
                var msg = "Failed to reset password ";
                if (e.message != null) {
                    msg += e.message;
                }
                $('#btnSubmit').attr("disabled", false);
                $("#msgResult").text(msg);
            }
        }
        else {
            /*$('#logoutForm').submit();*/
           /* swal("info","Please enter Security question ","ifo")*/
        }


            }
        });
    }



        $('#btnSubmit').submit();
    });

    function SuccessChange(e) {

        if (e != null && e.Code != null) {
            if (e.Code == 200) {
                $("#msgPass").text("");
                $('#btnSubmit').attr("disabled", true);
                swal({
                    text: "Password Changed Successfully",
                    type: "success"
                }).then(function () {

                   window.location = '@Url.Content("~/Auth/Login")';
                });
            }
            else if (e.Code == -2) {
                $('#btnSubmit').attr("disabled", false);
                swal({
                    //text: "User's old password does not match",
                    text: "Invalid",
                    type: "info"
                }).then(function () {
                    return false;
                });
            }
            else if (e.Code == -3) {
                $('#btnSubmit').attr("disabled", false);
                swal({
                    text: e.Message,
                    type: "info"
                }).then(function () {
                    return false;
                });
            }
            else {
                var msg = "Failed to reset password ";
                if (e.Message != null) {
                    msg += e.Message;
                }
                $('#btnSubmit').attr("disabled", false);
                $("#msgResult").text(msg);
            }
        }
        else {
            /*$('#logoutForm').submit();*/
           /* swal("info","Please enter Security question ","ifo")*/
        }
    }

    function FailChange(e) {
        $("#msgResult").text("");
        $('#btnSubmit').attr("disabled", false);
    }
</script>


@* <script>
    $('#btnCancel').click(function () {
           
        var relativeURI = "@Url.Action("Index", "AdminPortal")";
                    renderPartialView(relativeURI);
        })
</script>


 *@