@model ATTSystems.SFA.Model.ViewModel.ReportViewModel
@{
    ViewData["Title"] = "Blacklistvisitor";
    Layout = null;
}

<head>

    <script src='@Url.Content("~/js/jquery-datatable.js")'></script>
    <script src='@Url.Content("~/js/jquery.dataTables.js")'></script>
    <script src='@Url.Content("~/js/dataTables.bootstrap.js")'></script>


    <style>

        body {
            overflow-x: hidden;
        }

        fieldset.scheduler-border {
            border-radius: 8px;
            border: 1px groove #ddd !important;
            padding: 0 0.4em 0.4em 0.4em !important;
            margin: 0 0 0.2em 0 !important;
            -webkit-box-shadow: 0px 0px 0px 0px #000;
            box-shadow: 0px 0px 0px 0px #000;
        }

        .no-box {
            background: none !important;
            border: none !important;
        }

        legend {
            font-size: 1.2em !important;
            text-align: left !important;
            width: inherit;
            padding: 0 10px;
            border-bottom: none;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 45px;
            height: 20px;
            vertical-align: middle;
            margin-top: 8px;
        }

            .switch input {
                display: none;
            }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #A1A6AB;
            -webkit-transition: .4s;
            transition: .4s;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 16px;
                width: 14px;
                left: 2px;
                bottom: 2px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

        input:checked + .slider {
            background-color: #E9510E;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

            .slider.round:before {
                border-radius: 50%;
            }

        .rwd-table {
            margin: auto;
            min-width: 100%;
            max-width: 100%;
            border-collapse: collapse;
        }

            .rwd-table tr:first-child {
                border-top: none;
                background: #E9510E;
                color: #fff;
            }

            .rwd-table tr {
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                background-color: #f5f9fc;
            }

            .rwd-table th,
            .rwd-table td {
                padding: 1em !important;
            }

            .rwd-table td {
                color: #333;
            }

        #BtnSave {
            background: #E9510E;
            color: #fff;
        }

        #btnpop {
            background: #E9510E;
            color: #fff;
        }

        #btnSearch {
            background: #E9510E !important;
            color: #fff;
            width: 60%;
            margin-top: 20px;
        }

            #btnSearch:hover {
                background: #E9510E;
            }

        #btnSearch {
            background: #E9510E !important;
            color: #fff;
            width: 60%;
            font-size: 16px;
        }
    </style>

</head>

<h4 id="deviceHead"><b>Blacklisted Visitor Details</b></h4>
<div class="row">
    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
        <div class="title">
            <br />
            <div class="widget-content">
                <div class="row">
                    <div class="col-md-3">
                        <label>From Date</label>@*<span class="spanRequired" id="from" style="color:red">*</span>*@
                        @Html.TextBoxFor(model => model.StartDate, "{0:yyyy-MM-dd}", new { @class = "form-control", onkeydown = "return false", id = "SDate", placeholder = "yyyy-MM-dd" })
                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-3">
                        <label>To Date</label>@*<span class="spanRequired" id="to" style="color:red">*</span>*@
                        @Html.TextBoxFor(model => model.EndDate, "{0:yyyy-MM-dd}", new { @class = "form-control", onkeydown = "return false", id = "EDate", placeholder = "yyyy-MM-dd" })
                        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                    </div>
                    @* <div class="col-md-4">
                    <label>Location</label>
                    @Html.DropDownListFor(model => model.LocationName, new SelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control", id = "locid" })
                    </div>*@
                    <div class="col-md-3">
                        <label>Passport/NRIC/FIN</label>
                        @Html.TextBoxFor(model => model.NricOrPassport, new { @class = "form-control", id = "nrpssid", onpaste = "return false;", autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.NricOrPassport, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        <button id="btnSearch" type="button" class="btn btn-primary"><i class="fa fa search"></i>Search</button>
                    </div>
                    <br />
                    <div class="col-md-1">
                        @if (@Model.Modulename == "Administrator")
                        {
                            <span id="btnExportExcel" class="btn-export-excel" title="Export Excel" style="cursor: pointer">
                                <img src="~/Images/Excel-Download.jpg" width="28" height="34">
                            </span>
                            <span id="btnExportExcel2" style="display: none;cursor: pointer" class="btn-export-excel" title="Export Excel">
                                <img src="~/Images/Excel-Download.jpg" width="28" height="34">
                            </span>
                        }
                    </div>
                </div>
                @*<br /><br />*@
                <div class="row">
                    @*<div class="col-md-4">
                    <label>Visitor Type</label>
                    @Html.DropDownListFor(model => model.VisitTypeName, new SelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control", id = "vtypeid" })
                    </div>*@
                    @* <div class="col-md-4">
                    <label>Passport/NRIC/FIN</label>
                    @Html.TextBoxFor(model => model.NricOrPassport, new { @class = "form-control", id = "nrpssid", onpaste = "return false;", autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.NricOrPassport, "", new { @class = "text-danger" })
                    </div>*@
                    @*<div class="col-md-3">
                    <button id="btnSearch" type="button" class="btn btn-primary"><i class="fa fa search"></i>Search</button>
                    </div>*@
                    @* <br/>
                    <div class="col-md-1">
                    <span id="btnExportExcel" class="btn-export-excel" title="Export Excel" style="cursor: pointer">
                    <img src="~/Images/Excel-Download.jpg" width="28" height="34">
                    </span>
                    <span id="btnExportExcel2" style="display: none;cursor: pointer" class="btn-export-excel" title="Export Excel">
                    <img src="~/Images/Excel-Download.jpg" width="28" height="34">
                    </span>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<form id="delVstForm" method="post">
    <fieldset class="scheduler-border">
        <legend>Blacklisted Visitor Details</legend>
        <div class="table-responsive">
            <table id="sample" class="table table-bordered table-striped table-hover js-basic-example dataTable rwd-table customTbl" style="table-layout: fixed; width: 100%">
                <thead>
                    <tr>
                        <th>Sl No</th>
                        <th>Visitor Name</th>
                        <th>Visitor Type</th>
                        <th>ID Type</th>
                        <th>Passport/NRIC/FIN</th>
                        <th>Location</th>
                        <th>Blacklist DateTime</th>
                        <th>Blacklist Status</th>
                        <th>Blacklist By</th>
                        <th>Reason For Black/UnBlacklist</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="tblBody">
                    @foreach (var item in Model.VisitorAccessLists.Select((x, i) => new { Data = x, Index = i + 1 }))
                    {
                        <tr id="row@(item.Data.Idlst)">
                            <td>
                                @item.Index
                            </td>
                            <td>
                                @item.Data.VisitorNamelst
                            </td>
                            <td>
                                @item.Data.VisitTypeNamelst
                            </td>
                            <td>
                                @item.Data.Namelst
                            </td>
                            <td>
                                @item.Data.NricOrPassportlst
                            </td>
                            <td>
                                @item.Data.LocationNamelst
                            </td>
                            <td>
                                @item.Data.BlacklistDateTimelst1
                            </td>
                            <td>
                                @item.Data.Blackliststatus
                            </td>
                            <td>
                                @item.Data.BlacklistBylst
                            </td>
                            <td>
                                @item.Data.ReasonForBlacklistlst
                            </td>
                            <td>
                                <button type="button" class="btn view" style="background-color: #E9510E; color: #fff;" data-id="@item.Data.Idlst" data-para="@item.Data.Idlst" data-toggle="modal" data-target="#myModal">
                                    View
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </fieldset>
</form>
<div id="modalDiv">
</div>
<div class="modal fade" id="myModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label>Visitor Name</label><p id="visitorname"></p>
                        <br />
                        <label>Visitor Type</label><p id="idtypename"></p>
                        <br />
                        <label>ID Type</label><p id="nametype"></p>
                        <br />
                        <label>Passport/NRIC/FIN</label><p id="nricpsprt"></p>
                        <br />
                    </div>
                    <div class="col-md-6">
                        <label>Location</label><p id="locationid"></p>
                        <br />
                        <label>Blacklist DateTime</label><p id="blklst"></p>
                        <br />
                        <label>Blacklist Status</label><p id="blksts"></p>
                        <br />
                        <label>Blacklist By</label><p id="blcklstby"></p>
                        <br />
                        <label>Reason for Black/UnBlacklist</label><p id="Reasonblck"></p>
                        <br />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn waves-light" id="btnpop" style="background:#E9510E;color:white" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(".view").click(function () {
        var clickedRow = $(this).closest('tr').find('td');
        var _visitorname = $(clickedRow).eq(1).text().trim();
        var _visitypename = $(clickedRow).eq(2).text().trim();
        var _nametype = $(clickedRow).eq(3).text().trim();
        var _nricnumber = $(clickedRow).eq(4).text().trim();
        var _locationname = $(clickedRow).eq(5).text().trim();
        var _blacklistdateTime = $(clickedRow).eq(6).text().trim();
        var _blackliststatus = $(clickedRow).eq(7).text().trim();
        var _blacklistby = $(clickedRow).eq(8).text().trim();
        var _reasonforblock = $(clickedRow).eq(9).text().trim();


        document.getElementById('visitorname').innerHTML = _visitorname;
        document.getElementById('idtypename').innerHTML = _visitypename;
        document.getElementById('nametype').innerHTML = _nametype;
        document.getElementById('nricpsprt').innerHTML = _nricnumber;
        document.getElementById('locationid').innerHTML = _locationname;
        document.getElementById('blklst').innerHTML = _blacklistdateTime;
        document.getElementById('blksts').innerHTML = _blackliststatus;
        document.getElementById('blcklstby').innerHTML = _blacklistby;
        document.getElementById('Reasonblck').innerHTML = _reasonforblock;


    })

</script>
<script>
    $("document").ready(function () {
        $("#locid").empty();
        $.ajax({
            url: '@Url.Action("LoadLocation", "Report")',
            cache: false,
            type: "POST",
            success: function (data) {
                //  data = JSON.parse(data);
                if (data != null) {
                    if (data.Code != null) {
                        showDialog(data.Message, "locid", "error", "Report", "LoadLocation", "CENTER", false, false);
                    }
                    else {

                        $("#locid").append('<option value="' + 0 + '" selected>' + "All" + '</option>');
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].Selected) {
                                $("#locid").append('<option value="' + data[i].locationIdlst + '" selected>' + data[i].locationNamelst + '</option>');
                            }
                            else {
                                $("#locid").append('<option value="' + data[i].locationIdlst + '">' + data[i].locationNamelst + '</option>');

                            }
                        }
                    }
                }
                else {

                }
            },
            error: function (data) {
                swal("Error i", "", "error");
            }
        });
    });
</script>
<script>
    $("document").ready(function () {
        $("#vtypeid").empty();
        $.ajax({
            url: '@Url.Action("LoadVisitorType", "Report")',
            cache: false,
            type: "POST",
            success: function (data) {
                //  data = JSON.parse(data);
                if (data != null) {
                    if (data.Code != null) {
                        showDialog(data.Message, "vtypeid", "error", "Report", "LoadVisitorType", "CENTER", false, false);
                    }
                    else {
                        $("#vtypeid").append('<option value="' + 0 + '" selected>' + "All" + '</option>');
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].Selected) {
                                $("#vtypeid").append('<option value="' + data[i].lVsttypeId + '" selected>' + data[i].lVstTypeNmae + '</option>');
                            }
                            else {
                                $("#vtypeid").append('<option value="' + data[i].lVsttypeId + '">' + data[i].lVstTypeNmae + '</option>');
                            }
                        }
                    }
                }
                else {

                }
            },
            error: function (data) {
                swal("Error i", "", "error");
            }
        });
    });
</script>
<script>
    $("#btnExportExcel2").click(function () {
        var locationId = $("#locid").val();
        var visitTypeId = $("#vtypeid").val();
        var startDate = $("#SDate").val();
        var endDate = $("#EDate").val();
        var nricpass = $("#nrpssid").val();

        var parameters = startDate + ";" + endDate + ";" + nricpass;
        var path = location.pathname.replace("/Home/Index", "");
        window.location = path + '/Report/ExportSearchblkVisitor?parameters=' + parameters;
    });
</script>
<script>
    //Before Search
    $("#btnExportExcel").click(function () {
        var path = location.pathname.replace("/Home/Index", "");
        window.location = path + '/Report/Exportbloklist';
    });

    $(document).ready(function () {
        var table = $('#sample').dataTable();
        if (table.fnGetData().length == 0) {
            $("#btnExportExcel").hide();
        }
        else {
            $("#btnExportExcel").show();
        }
    });
</script>
<script>
    $(document).ready(function () {
        $("#btnSearch").click(function () {
            var EntryDate = $("#SDate").val();
            var ExitDate = $("#EDate").val();
            var vsttypname = $("#vtypeid option:selected").val();
            var locname = $("#locid option:selected").val();
            var nricpass = $("#nrpssid").val();
            // if (EntryDate === "") {
            //     swal("Info", "Please select Start Date", "info");
            //     return false;
            // } else if (ExitDate === "") {
            //     swal("Info", "Please select End Date", "info");
            //     return false;
            // } else if (ExitDate < EntryDate) {
            //     swal("Info", "End Date should be greater than Start Date", "info");
            //     $("#sample").DataTable().destroy();
            //     $("#tblBody").empty();
            //     $("#btnExportExcel").hide();
            //     $("#btnExportExcel2").hide();

            //     $("#sample").DataTable({
            //     });
            //     return false;
            // }

            if ((Date.parse(EntryDate) === "" && Date.parse(ExitDate) === "") && nricpass === "") {
                swal("Info", "Please select start date, end date or enter NRIC/Passport", "info");
                return false;
            } else {
                $('#pleaseWaitDialog').modal('show');
                $.ajax({
                    type: "POST",
                    url: "/Report/SearchblkVisitorList",
                    data: {
                        StartDate: EntryDate, EndDate: ExitDate, VisitTypeId: vsttypname, LocationId: locname, NricOrPassport: nricpass
                    },
                    cache: false,
                    dataType: "json",
                    success: function (data) {

                        $("#btnExportExcel").hide();
                        $("#btnExportExcel2").show();
                        $("#tblBody").empty();
                        $('#sample').DataTable().clear().destroy();

                        if (data.visitorAccessLists && data.visitorAccessLists.length > 0) {
                            $("#btnExportExcel2").show();
                            $('#pleaseWaitDialog').modal('hide');
                            var table = '';
                            $("#tblBody").empty();
                            $('#tblbvdtls').DataTable().clear().destroy();
                            for (var i = 0; i < data.visitorAccessLists.length; ++i) {
                                var visitor = data.visitorAccessLists[i];
                                var index = i + 1;
                                var eDateTime = "";
                                if (data.visitorAccessLists[i].blacklistDateTimelst == null) {
                                    eDateTime = "";
                                }
                                else {
                                    eDateTime = visitor.blacklistDateTimelst.replace('T', ' ');
                                }
                                var blacklistDateTime = new Date(visitor.blacklistDateTimelst);
                                var day = blacklistDateTime.getDate().toString().padStart(2, '0');
                                var month = (blacklistDateTime.getMonth() + 1).toString().padStart(2, '0');
                                var year = blacklistDateTime.getFullYear();
                                var hours = blacklistDateTime.getHours().toString().padStart(2, '0');
                                var minutes = blacklistDateTime.getMinutes().toString().padStart(2, '0');
                                var seconds = blacklistDateTime.getSeconds().toString().padStart(2, '0');
                                var ampm = hours >= 12 ? 'PM' : 'AM';
                                var eDateTime = day + '/' + month + '/' + year + ' ' + hours + ':' + minutes + ':' + seconds + ' ' + ampm;
                                table = '<tr id="' + visitor.listId + '">' +
                                    '<td>' + index + '</td>' +
                                    '<td>' + visitor.visitorNamelst + '</td>' +
                                    '<td>' + visitor.visitTypeNamelst + '</td>' +
                                    '<td>' + visitor.namelst + '</td>' +
                                    '<td>' + visitor.nricOrPassportlst + '</td>' +
                                    '<td>' + visitor.locationNamelst + '</td>' +
                                    '<td>' + eDateTime + '</td>' +
                                    '<td>' + visitor.blackliststatus + '</td>' +
                                    '<td>' + visitor.blacklistBylst + '</td>' +
                                    '<td>' + visitor.reasonForBlacklistlst + '</td>' +
                                    '<td align="center"><button type="button" class="btn view" data-id="' + visitor.Id + '" data-para="' + visitor.Id + '" data-toggle="modal" data-target="#myModal" style="background-color: #E9510E; color: #fff;"><i class="fa fa-icon-class"></i> View </button></td>' +
                                    '</tr>';
                                $("#tblBody").append(table);
                                $(function () {
                                    $("#sample td").each(function () {
                                        if (this.textContent.trim() === "null") {
                                            this.textContent = "";
                                        }
                                    });
                                });
                            }
                            $(".view").on("click", function () {
                                var clickedRow = $(this).closest('tr').find('td');
                                var _visitorname = $(clickedRow).eq(1).text().trim();
                                var _visitypename = $(clickedRow).eq(2).text().trim();
                                var _nametype = $(clickedRow).eq(3).text().trim();
                                var _nricnumber = $(clickedRow).eq(4).text().trim();
                                var _locationname = $(clickedRow).eq(5).text().trim();
                                var _blacklistdateTime = $(clickedRow).eq(6).text().trim();
                                var _blackliststatus = $(clickedRow).eq(7).text().trim();
                                var _blacklistby = $(clickedRow).eq(8).text().trim();
                                var _reasonforblock = $(clickedRow).eq(9).text().trim();

                                document.getElementById('visitorname').innerHTML = _visitorname;
                                document.getElementById('idtypename').innerHTML = _visitypename;
                                document.getElementById('nametype').innerHTML = _nametype;
                                document.getElementById('nricpsprt').innerHTML = _nricnumber;
                                document.getElementById('locationid').innerHTML = _locationname;
                                document.getElementById('blklst').innerHTML = _blacklistdateTime;
                                document.getElementById('blksts').innerHTML = _blackliststatus;
                                document.getElementById('blcklstby').innerHTML = _blacklistby;
                                document.getElementById('Reasonblck').innerHTML = _reasonforblock;
                            });
                        } else {
                            $("#tblbvdtls").DataTable({ "bDestroy": true });
                            swal("Info", "No matching records found", "info");
                            $("#btnExportExcel2").hide();
                            $('#pleaseWaitDialog').modal('hide');
                        }
                        $("#sample").DataTable({ "bDestroy": true });
                    },
                    error: function () {
                        swal("Error", "An error occurred while processing the request", "error");
                        $('#pleaseWaitDialog').modal('hide');
                    }
                });
            }
        });
    });
</script>
<script>
    function initializeDatepickers() {
        jQuery("#SDate").datepicker({
            dateFormat: 'yy-mm-dd',
            onSelect: function (selectedDate) {
                jQuery("#EDate").datepicker("option", "minDate", selectedDate);
            } // Removed the trailing comma here
        });

        jQuery("#EDate").datepicker({
            dateFormat: 'yy-mm-dd',
            onSelect: function (selectedDate) {
                jQuery("#SDate").datepicker("option", "maxDate", selectedDate);
            } // Removed the trailing comma here
        });
    }

    // Call the initialization function when the page loads
    jQuery(document).ready(function () {
        initializeDatepickers();
    });
</script>
