@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="em">
<head>
    <title>
        Chinese Terms &Aacute; Conditions
    </title>
    <style>

        .white-box {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            -webkit-transition-duration: 0.4s; 
            transition-duration: 0.4s;
            color: black;
        }

        #btnAccept {
            background: #E9510E;
            height: 60px;
            width: 250px;
            color: white;
            font-size: 16px;
        }

        #termsDiv {
            color: #E9510E;
            text-align: center
        }
    </style>

    <link rel="stylesheet" href="~/css/fontawsome.min.css" />
    <link href='@Url.Content("~/css/bootstrap.min.css")' rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/css/style.css")' rel="stylesheet" type="text/css" />

   @*  <script src="~/js/jquery-3.3.1.min.js"></script> *@
    <script src="~/js/jquery-3.7.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
</head>

<body class="homepage" style="height: 100%; width: 100%; margin: 0; padding: 0;overflow-x:hidden;overflow-y:hidden">
    <br />
    <div class="row col-md-12">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <button id="btnBack" onclick="@("window.location.href='" + @Url.Action("SelectLanguage", "Kiosk") + "'");" class="" style="border:none;background-color:white;cursor: pointer;float:right">
                <img src="~/images/homeicon.png" alt="home" width="95" />
            </button>
        </div>
    </div>
    <br />
    <br />
    <br />

    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4" id="termsDiv">
            <img src="~/Images/Singapore_Food_Agency_logo.png" alt="logo"/>
            <br /><br /><br />
            <h1><strong>访客管理系统</strong></h1>
            <br /><br />
            <div class="white-box">
                <br />
                <p><strong>PDPA 条款和条件</strong> </p>
                <br />
                我们努力在工作的各个方面超越客户的期望。我们帮助组织获得国际标准认证。内部审计。训练课程。 ISO 咨询。外包。服务：ISO 咨询、培训课程。

                <br /><br />

            </div>
            <br /> <br /><br /><br />

         
            <button type="button" id="btnAccept" onclick="@("window.location.href='" + @Url.Action("ChinScanNRICPassport", "Kiosk") + "'");" class="btn btn-lg">接受</button>

        </div>
        <div class="col-md-4">
        </div>

    </div>
</body>

</html>

