@model IEnumerable<ATTSystems.NetCore.Model.ViewModel.UserViewModel>
@{
    ViewData["Title"] = "ListUser";
    Layout = null;
}

<style>

    body {
        overflow-x: hidden;
    }

    @@media (max-width: 480px) {
        #userHead {
            margin-top: 15%;
        }
        /*  #btnAdd {
                margin-top: 8%;
            }*/
        /*   table-layout{
                overflow-x:scroll;
            }*/
    }
    .rwd-table {
        margin: auto;
        min-width: 100%;
        max-width: 100%;
        border-collapse: collapse;
    }

        .rwd-table tr:first-child {
            border-top: none;
            background: #E9510E;
            color: #fff;
        }

        .rwd-table tr {
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            background-color: #f5f9fc;
        }

        .rwd-table th,
        .rwd-table td {
            padding: 1em !important;
        }

        .rwd-table td {
            color: #333;
        }
</style>

<div class="row">
    <div class="col-lg-6">
        <h4 id="userHead" style="padding-left: 10px; padding-top: 10px;">User Listing</h4>
    </div>
    <div class="col-lg-6">
        <div class="align-right" style="padding-right: 10px; padding-top: 10px;">
            <button type="button" data-toggle="modal" data-target="#myModal" id="btnAdd"
                    class="btn btn-circle btnAdd" value="Add" title="Add" style="background: #E9510E;color:white">
                <i class="material-icons">&#xE145;</i>
            </button>
        </div>
    </div>
</div>
<div class="body">
    <form id="delUserForm" method="post">
        @Html.AntiForgeryToken()

        <table class="table table-bordered table-striped table-hover js-basic-example dataTable rwd-table customTbl" id="summarytbl">
            <thead style="background: #428bca;color:white">
                <tr>
                    <th>User</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr id="row@(user.Id)">
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>@user.RoleItems</td>
                        <td align="center">
                            <a href="#" data-id="@user.Id" class="lnkEdit" title="Edit" data-para="@user.Id"><i class="material-icons" style="color: #E9510E">edit</i></a>
                            <a href="#" data-id="@user.Id" class="lnkDelete" title="Delete" data-para="@user.Id"><i class="material-icons" style="color: #E9510E">delete</i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </form>
</div>
<div id="modalDiv">
</div>
<script src='@Url.Content("~/js/jquery-datatable.js")'></script>
<script src='@Url.Content("~/js/jquery.dataTables.js")'></script>
<script src='@Url.Content("~/js/dataTables.bootstrap.js")'></script>
<script>
    $(function () {
        $('.customTbl').on('click', '.lnkDelete', function () {
           
             var _userid = $(this).attr('data-para');
            var token = $('input[name="__RequestVerificationToken"]', $('#delUserForm')).val();

             deleteDialog("Setting", "DeleteUser", _userid, token);            
        });

        /* Edit Method Here */
        $('.customTbl').on('click', '.lnkEdit', function () {
            /* Disable link for 4 seconds */

            $('.lnkEdit').addClass('tmpEdit');
            $('.tmpEdit').removeClass('lnkEdit');
            setTimeout(function () {
                $('.tmpEdit').addClass('lnkEdit');
                $('.lnkEdit').removeClass('tmpEdit');
            }, 3000);
            /* End of disable link for 4 seconds */
            var _msgId = $(this).attr('data-para');

            if (_msgId != "") {
                var relativeURI = "@Url.Action("EditUserModal", "Setting", new { id = "_para1" })".replace("_para1", _msgId);
                RenderPartialView(relativeURI, "#editUserModal");
            }
        });

        /* Add Method Here */
        $('#btnAdd').click(function () {
            $('.btnAdd').attr('disabled', true);
            setTimeout(function () {
                $('.btnAdd').attr('disabled', false);
            }, 4000);
            var relativeURI = "@Url.Action("CreateUserModal", "Setting")";
            RenderPartialView(relativeURI, "#addUserModal");
        });
        function RenderPartialView(relativeURI, modalType) {
            $.ajax({
                url: relativeURI,
                type: "Get",
                cache: false,
                success: function (data) {
                    //custom showing popup
                    $("#modalDiv").html("");
                    $("#modalDiv").html(data);
                    $(modalType).modal('show');
                },
                error: function (data) {
                    swal("Warning", data.statusText, "error");
                    $('#logoutForm').submit();
                }
            });
        }
        // $("#btnSave").click(function () {

        //     $.ajax({
        //         type: "POST",
        //         url: "@Url.Action("CreateUser", "Setting")",
        //         data: $("#addUserForm").serialize(),
        //         cache: false,
        //         dataType: "json",
        //         success: function (e) { SuccessAddUser(e); },
        //         error: function (e) { FailAddUser(e); },
        //     });


        // });
    });
</script>
